* text=auto

*.avif binary
*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.png binary
*.webp binary

*.eot binary
*.otf binary
*.ttf binary
*.woff binary
*.woff2 binary

*.7z binary
*.gz binary
*.pdf binary
*.tar binary
*.zip binary
